
@{
    ViewBag.Title = "Member - Shah Wilayat Cooperative Housing Society";
    Layout = "~/Views/Shared/_MasterPage.cshtml";
}

<div class="content-header row">
    <div class="content-header-left col-md-6 col-12 mb-2">
        <h3 class="content-header-title">Member</h3>
    </div>

</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#CreateMember">
                    Add New Member
                </button>
            </div>
        </div>
    </div>
</div>
<!-- Both borders end-->
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <fieldset>
                    <div class="input-group">
                        <input type="text" class="form-control txtSearch" placeholder="Search..." aria-describedby="basic-addon4">
                        <div class="input-group-append">
                            <span class="input-group-text" id="basic-addon4"><i class="la la-search"></i></span>
                        </div>
                    </div>
                </fieldset>

            </div>
            <div class="card-content">

                <div class="table-responsive">
                    <table class="table table-bordered mb-0 tblMember">
                        <thead>
                            <tr>
                                <th style="text-align:center">Sr No.</th>
                                <th>Membership No</th>
                                <th>Date</th>
                                <th>Name</th>
                                <th>Cell No</th>
                                <th>Status</th>
                                <th class="align-middle">Action</th>
                                <th class="align-middle">Attachments</th>
                            </tr>
                        </thead>
                        <tbody class="MemberListing"></tbody>
                        <tfoot>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@*Create Modal Start*@
<div class="modal fade text-left" id="CreateMember" role="dialog" aria-labelledby="myModalLabel16" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel16">Create New Member</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-body frmMember">
                    <h4 class="form-section"><i class="ft-user"></i> Personal Info</h4>
                    <hr>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="ddlTitle">Title</label>
                                <select id="ddlTitle" class="form-control ddlTitle"></select>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="txtFirstName">First Name</label>
                                <input type="text" id="txtFirstName" class="form-control txtFirstName" placeholder="Enter first name">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="txtLastName">Last Name</label>
                                <input type="text" id="txtLastName" class="form-control txtLastName notrequired" placeholder="Enter last name">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="ddlMemberRelation">Relation</label>
                                <select id="ddlMemberRelation" class="form-control ddlMemberRelation"></select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="txtFatherName">Father/ Husband Name</label>
                                <input type="text" id="txtFatherName" class="form-control txtFatherName" placeholder="Enter father name">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="ddlGender">Gender</label>
                                <select id="ddlGender" class="form-control ddlGender"></select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="txtDob">Date of Birth</label>
                                <input type="text" id="txtDob" class="form-control DatePicker txtDob" placeholder="yyyy-mm-dd">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="txtBirthPlace">Place of Birth</label>
                                <input type="text" id="txtBirthPlace" class="form-control txtBirthPlace" placeholder="Enter birth place">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="txtCellNo">Cell No</label>
                                <input type="text" id="txtCellNo" class="form-control txtCellNo numbericOnly" placeholder="Enter cell number">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="txtWhatsApp">WhatsApp No</label>
                                <input type="text" id="txtWhatsApp" class="form-control txtWhatsApp numericOnly notrequired" placeholder="Enter whatsapp number">
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="txtLandline">Landline</label>
                                <input type="text" id="txtLandline" class="form-control txtLandline numericOnly notrequired" placeholder="Enter landline number">
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="txtOfficePhone">Office Phone</label>
                                <input type="text" id="txtOfficePhone" class="form-control txtOfficePhone numericOnly notrequired" placeholder="Enter OfficePhone number">
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="txtEmail">Email</label>
                                <input type="text" id="txtEmail" class="form-control txtEmail  notrequired" placeholder="Enter email">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="txtCNIC">CNIC</label>
                                <input type="text" id="txtCNIC" class="form-control txtCNIC " placeholder="Enter CNIC without dash">
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="txtCnicExpiryDate">CNIC Expiry Date</label>
                                <input type="text" id="txtCnicExpiryDate" class="form-control DatePicker txtCnicExpiryDate" placeholder="yyyy-mm-dd">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="ddlCountry">Country</label>
                                <select id="ddlCountry" class="form-control ddlCountry"></select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="ddlProvince">Province</label>
                                <select id="ddlProvince" class="form-control ddlProvince"></select>
                            </div>

                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="ddlCity">City</label>
                                <select id="ddlCity" class="form-control ddlCity"></select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="txtPermanentAddress">Permanent Address</label>
                                <textarea class="form-control txtPermanentAddress" id="txtPermanentAddress" rows="1" placeholder="Enter permanent address"></textarea>
                            </div>
                        </div>


                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="txtPostalCode">Postal Code</label>
                                <input type="text" id="txtPostalCode" class="form-control txtPostalCode numericOnly notrequired" placeholder="Enter postal code">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="txtBloodGroup">Blood Group</label>
                                <input type="text" id="txtBloodGroup" class="form-control txtBloodGroup notrequired" placeholder="Enter blood group">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="txtOccupation">Occupation</label>
                                <input type="text" id="txtOccupation" class="form-control txtOccupation notrequired" placeholder="Enter occupation">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="txtMembershipNo">Membership No</label>
                                <input type="text" id="txtMembershipNo" class="form-control txtMembershipNo" placeholder="Enter membership no">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="txtMembershipDate">Membership Date</label>
                                <input type="text" id="txtMembershipDate" class="form-control DatePicker txtMembershipDate" placeholder="yyyy-mm-dd">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="txtReferenceNo">Reference No</label>
                                <input type="text" id="txtReferenceNo" class="form-control txtReferenceNo" placeholder="Enter reference number">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="txtFolioNo">Folio No</label>
                                <input type="text" id="txtFolioNo" class="form-control txtFolioNo" placeholder="Enter folio number">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="ddlManagementCommittee">Created By</label>
                                <select class="form-control ddlManagementCommittee"></select>
                            </div>
                        </div>
                    </div>
                    <h4 class="form-section"><i class="ft-paperclip"></i> Attachments</h4>
                    <hr>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="fileinput fileinput-new" data-provides="fileinput">

                                <span class="btn btn-block btn-outline btn-info btn-file">
                                    <span class="fileinput-new">Attach CNIC Front</span>
                                    <i class="fa fa-upload"></i>&nbsp;&nbsp;
                                    <span class="fileinput-exists">Change</span><input type="file" name="..." class="txtCnicFrontFile" accept="image/*" />
                                </span>
                                <span class="fileinput-filename"></span>
                                <a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="float: none">×</a>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="fileinput fileinput-new" data-provides="fileinput">

                                <span class="btn btn-block btn-outline btn-info btn-file">
                                    <span class="fileinput-new">Attach CNIC Back</span>
                                    <i class="fa fa-upload"></i>&nbsp;&nbsp;
                                    <span class="fileinput-exists">Change</span><input type="file" name="..." class="txtCnicBackFile" accept="image/*" />
                                </span>
                                <span class="fileinput-filename"></span>
                                <a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="float: none">×</a>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="fileinput fileinput-new" data-provides="fileinput">

                                <span class="btn btn-block btn-outline btn-info btn-file">
                                    <span class="fileinput-new">Attach Recent Profile Picture</span>
                                    <i class="fa fa-upload"></i>&nbsp;&nbsp;
                                    <span class="fileinput-exists">Change</span><input type="file" name="..." class="txtProfileFile" accept="image/*" />
                                </span>
                                <span class="fileinput-filename"></span>
                                <a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="float: none">×</a>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn grey btn-outline-info" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-outline-dark btnSaveChanges">Save changes</button>
            </div>
        </div>
    </div>
</div>
@*Create Modal End*@


@*Edit Modal Start*@
<div class="modal fade text-left" id="EditMember" role="dialog" aria-labelledby="myModalLabel16" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel16">Edit Member</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-body frmMember_upd">
                    <h4 class="form-section"><i class="ft-user"></i> Personal Info</h4>
                    <hr>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="ddlTitle_upd">Title</label>
                                <select id="ddlTitle_upd" class="form-control ddlTitle_upd"></select>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="txtFirstName_upd">Father/ Husband Name</label>
                                <input type="text" id="txtFirstName_upd" class="form-control txtFirstName_upd" placeholder="Enter first name">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="txtLastName_upd">Last Name</label>
                                <input type="text" id="txtLastName_upd" class="form-control txtLastName_upd notrequired" placeholder="Enter last name">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="ddlMemberRelation_upd">Relation</label>
                                <select id="ddlMemberRelation_upd" class="form-control ddlMemberRelation_upd"></select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="txtFatherName_upd">Father Name</label>
                                <input type="text" id="txtFatherName_upd" class="form-control txtFatherName_upd" placeholder="Enter father name">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="ddlGender_upd">Gender</label>
                                <select id="ddlGender_upd" class="form-control ddlGender_upd"></select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="txtDob_upd">Date of Birth</label>
                                <input type="text" id="txtDob_upd" class="form-control DatePicker txtDob_upd" placeholder="yyyy-mm-dd">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="txtBirthPlace_upd">Place of Birth</label>
                                <input type="text" id="txtBirthPlace_upd" class="form-control txtBirthPlace_upd" placeholder="Enter birth place">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="txtCellNo_upd">Cell No</label>
                                <input type="text" id="txtCellNo_upd" class="form-control txtCellNo_upd numbericOnly notrequired" placeholder="Enter cell number">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="txtWhatsApp_upd">WhatsApp No</label>
                                <input type="text" id="txtWhatsApp_upd" class="form-control txtWhatsApp_upd numericOnly notrequired" placeholder="Enter whatsapp number">
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="txtLandline_upd">Landline</label>
                                <input type="text" id="txtLandline_upd" class="form-control txtLandline_upd numericOnly notrequired" placeholder="Enter landline number">
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="txtOfficePhone_upd">Office Phone</label>
                                <input type="text" id="txtOfficePhone_upd" class="form-control txtOfficePhone_upd numericOnly notrequired" placeholder="Enter OfficePhone number">
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="txtEmail_upd">Email</label>
                                <input type="text" id="txtEmail_upd" class="form-control txtEmail_upd  notrequired" placeholder="Enter email">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="txtCNIC_upd">CNIC</label>
                                <input type="text" id="txtCNIC_upd" class="form-control txtCNIC_upd " placeholder="Enter CNIC without dash">
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="txtCnicExpiryDate_upd">CNIC Expiry Date</label>
                                <input type="text" id="txtCnicExpiryDate_upd" class="form-control DatePicker txtCnicExpiryDate_upd" placeholder="yyyy-mm-dd">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="ddlCountry_upd">Country</label>
                                <select id="ddlCountry_upd" class="form-control ddlCountry_upd"></select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="ddlProvince_upd">Province</label>
                                <select id="ddlProvince_upd" class="form-control ddlProvince_upd"></select>
                            </div>

                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="ddlCity_upd">City</label>
                                <select id="ddlCity_upd" class="form-control ddlCity_upd"></select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="txtPermanentAddress_upd">Permanent Address</label>
                                <textarea class="form-control txtPermanentAddress_upd" id="txtPermanentAddress_upd" rows="1" placeholder="Enter permanent address"></textarea>
                            </div>
                        </div>


                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="txtPostalCode_upd">Postal Code</label>
                                <input type="text" id="txtPostalCode_upd" class="form-control txtPostalCode_upd numericOnly notrequired" placeholder="Enter postal code">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="txtBloodGroup_upd">Blood Group</label>
                                <input type="text" id="txtBloodGroup_upd" class="form-control txtBloodGroup_upd notrequired" placeholder="Enter blood group">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="txtOccupation_upd">Occupation</label>
                                <input type="text" id="txtOccupation_upd" class="form-control txtOccupation_upd notrequired" placeholder="Enter occupation">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="txtMembershipNo_upd">Membership No</label>
                                <input type="text" id="txtMembershipNo_upd" class="form-control txtMembershipNo_upd" placeholder="Enter membership no">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="txtMembershipDate_upd">Membership Date</label>
                                <input type="text" id="txtMembershipDate_upd" class="form-control DatePicker txtMembershipDate_upd" placeholder="yyyy-mm-dd">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="txtReferenceNo_upd">Reference No</label>
                                <input type="text" id="txtReferenceNo_upd" class="form-control txtReferenceNo_upd" placeholder="Enter reference number">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="txtFolioNo_upd">Folio No</label>
                                <input type="text" id="txtFolioNo_upd" class="form-control txtFolioNo_upd" placeholder="Enter folio number">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="ddlManagementCommittee_upd">Created By</label>
                                <select class="form-control ddlManagementCommittee_upd"></select>
                            </div>
                        </div>
                    </div>



                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn grey btn-outline-info" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-outline-dark btnUpdateChanges">Save changes</button>
            </div>
        </div>
    </div>
</div>
@*Edit Modal Start*@

@*Edit Attachment Start*@
<div class="modal fade text-left" id="EditAttachment" role="dialog" aria-labelledby="myModalLabel16" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel16">Edit Attachment</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-body frmAttachment">
                    <hr>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="fileinput fileinput-new" data-provides="fileinput">

                                <span class="btn btn-block btn-outline btn-info btn-file">
                                    <span class="fileinput-new">Attach CNIC Front</span>
                                    <i class="fa fa-upload"></i>&nbsp;&nbsp;
                                    <span class="fileinput-exists">Change</span><input type="file" name="..." class="txtCnicFrontFile_upd notrequired" accept="image/*" />
                                </span>
                                <span class="fileinput-filename"></span>
                                <a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="float: none">×</a>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="fileinput fileinput-new" data-provides="fileinput">

                                <span class="btn btn-block btn-outline btn-info btn-file">
                                    <span class="fileinput-new">Attach CNIC Back</span>
                                    <i class="fa fa-upload"></i>&nbsp;&nbsp;
                                    <span class="fileinput-exists">Change</span><input type="file" name="..." class="txtCnicBackFile_upd notrequired" accept="image/*" />
                                </span>
                                <span class="fileinput-filename"></span>
                                <a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="float: none">×</a>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="fileinput fileinput-new" data-provides="fileinput">

                                <span class="btn btn-block btn-outline btn-info btn-file">
                                    <span class="fileinput-new">Attach Recent Profile Picture</span>
                                    <i class="fa fa-upload"></i>&nbsp;&nbsp;
                                    <span class="fileinput-exists">Change</span><input type="file" name="..." class="txtProfileFile_upd notrequired" accept="image/*" />
                                </span>
                                <span class="fileinput-filename"></span>
                                <a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="float: none">×</a>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn grey btn-outline-info" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-outline-dark btnUpdateAttachment">Save changes</button>
            </div>
        </div>
    </div>
</div>
@*Edit Attachment Start*@

@*Delete Modal Start*@
<div class="modal fade text-left" id="DeleteMember" tabindex="-1" role="dialog" aria-labelledby="myModalLabel10"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-danger white">
                <h4 class="modal-title white" id="myModalLabel10">Are you sure to delete this item?</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn grey btn-outline-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-outline-danger btnDelete">Delete</button>
            </div>
        </div>
    </div>
</div>
@*Delete Modal Start*@

@*Print Modal Start*@
<div class="modal fade text-left" id="PrintMember" role="dialog" aria-labelledby="myModalLabel16" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel16">Membership Profile</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-body frmMember">
                    <div id="Print">
                        <table style="width: 100%; height: 25%; color: black;">
                            <thead>
                                <tr class="trPrint" style="background-color:#005aa1;color: white;">
                                    <td colspan="4" style="font-weight:600;font-size: 18px; height:40px;">&nbsp;Membership Information</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr style="line-height:15px;">
                                    <td rowspan="2">

                                        <img height="130px;" class="tdProfilePicPrint" width="120px;" alt="User Pic" src="~/Uploads/Musab Yahiya_20190123163602_20190725020850.jpg" style="border:2px solid #028130; border-radius:50%;">
                                    </td>

                                    <td style="border-bottom: 1px solid #028130;">
                                        <label>Membership No </label>
                                        <br>
                                        <span><b class="printMembershipNo"></b></span>
                                    </td>
                                    <td style="border-bottom: 1px solid #028130;">
                                        <label>Membership Date </label>
                                        <br>
                                        <span><b class="printMembershipDate"></b></span>
                                    </td>

                                    <td style="border-bottom: 1px solid #028130;">
                                        <label>Reference No</label>
                                        <br>
                                        <span><b class="printReferenceNo"></b></span>

                                    </td>
                                </tr>

                                <tr style="line-height:15px;">
                                    <td>
                                        <label>Register Folio No</label>
                                        <br>
                                        <span><b class="printFolioNo"></b></span>
                                    </td>
                                    <td>
                                        <label>Memebership Fee </label>
                                        <br>
                                        <span><b>100</b></span>
                                    </td>
                                    <!-- 	<td>
                                        <label>Membership Fee Receipt No </label>
                                        <br>
                                        <span><b>R-7811</b></span>
                                    </td> -->


                                </tr>
                            </tbody>
                        </table>
                        <!--End of Table-->
                        <table style="width: 100%; height: 100%; color: black;" class="table">
                            <thead>
                                <tr class="trPrint" style="background-color: #005aa1;color: white;">
                                    <td colspan="4" style="font-weight:600;font-size: 18px; height:40px;">&nbsp;Personal Information</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr style="line-height:20px;">
                                    <td colspan="1" style="border-bottom: 1px solid #e7eaec">
                                        <label>Full Name</label>
                                        <br>
                                        <span><b class="printFullName"></b></span>
                                    </td>

                                    <td colspan="3" style="border-bottom: 1px solid #e7eaec">
                                        <label>Realtion</label>
                                        <br>
                                        <span><b class="printMemberRelation"></b></span>
                                    </td>
                                </tr>
                                <tr style="line-height:20px;">
                                    <td colspan="1" style="border-bottom: 1px solid #e7eaec">
                                        <label> Father Name</label>
                                        <br>
                                        <span><b class="printFatherName"></b></span>
                                    </td>
                                    <td colspan="3" style="border-bottom: 1px solid #e7eaec">
                                        <label>Gender</label>
                                        <br>
                                        <span><b class="printGender"></b></span>
                                    </td>
                                </tr>

                                <tr style="line-height:20px;">
                                    <td colspan="1" style="border-bottom: 1px solid #e7eaec">
                                        <label>Date of Birth</label>
                                        <br>
                                        <span><b class="printDob"></b></span>
                                    </td>
                                    <td colspan="3" style="border-bottom: 1px solid #e7eaec">
                                        <label>Place of Birth</label>
                                        <br>
                                        <span><b class="printBirthPlace"></b></span>
                                    </td>
                                </tr>

                                <tr style="line-height:20px;">
                                    <td colspan="1" style="border-bottom: 1px solid #e7eaec">
                                        <label>Cell</label>
                                        <br>
                                        <span><b class="printCellNo"></b></span>
                                    </td>
                                    <td colspan="3" style="border-bottom: 1px solid #e7eaec">
                                        <label>WhatsApp</label>
                                        <br>
                                        <span><b class="printWhatsApp"></b></span>
                                    </td>


                                </tr>
                                <tr style="line-height:20px;">
                                    <td colspan="1" style="border-bottom: 1px solid #e7eaec">
                                        <label>Landline</label>
                                        <br>
                                        <span><b class="printLandline"></b></span>
                                    </td>

                                    <td colspan="3" style="border-bottom: 1px solid #e7eaec">
                                        <label>Office Phone</label>
                                        <br>
                                        <span><b class="printOfficePhone"></b></span>
                                    </td>
                                </tr>
                                <tr style="line-height:20px;">
                                    <td colspan="1" style="border-bottom: 1px solid #e7eaec">
                                        <label>Email</label>
                                        <br>
                                        <span><b class="printEmail"></b></span>
                                    </td>
                                    <td colspan="3" style="border-bottom: 1px solid #e7eaec">
                                        <label>CNIC</label>
                                        <br>
                                        <span><b class="printCNIC"></b></span>
                                    </td>
                                </tr>

                                <tr style="line-height:20px;">
                                    <td colspan="1" style="border-bottom: 1px solid #e7eaec">
                                        <label>CNIC Expiry Date</label>
                                        <br>
                                        <span><b class="printCnicExpiryDate"></b></span>
                                    </td>
                                    <td colspan="3" style="border-bottom: 1px solid #e7eaec">
                                        <label>Country</label>
                                        <br>
                                        <span><b class="printCountry"></b></span>
                                    </td>
                                </tr>

                                <tr style="line-height:20px;">
                                    <td colspan="1" style="border-bottom: 1px solid #e7eaec">
                                        <label>Province</label>
                                        <br>
                                        <span><b class="printProvince"></b></span>
                                    </td>
                                    <td colspan="3" style="border-bottom: 1px solid #e7eaec">
                                        <label>City</label>
                                        <br>
                                        <span><b class="printCity"></b></span>
                                    </td>
                                </tr>

                                <tr style="line-height:20px;">
                                    <td colspan="1" style="border-bottom: 1px solid #e7eaec">
                                        <label>Postal Code</label>
                                        <br>
                                        <span><b class="printPostalCode"></b></span>
                                    </td>
                                    <td colspan="3" style="border-bottom: 1px solid #e7eaec">
                                        <label>Address</label>
                                        <br>
                                        <span style="width: 20px;"><b class="printPermanentAddress"></b></span>
                                    </td>

                                </tr>

                                <tr style="line-height:20px;">
                                    <td colspan="1" style="border-bottom: 1px solid #e7eaec">
                                        <label>Blood Group</label>
                                        <br>
                                        <span><b class="printBloodGroup"></b></span>
                                    </td>
                                    <td colspan="3" style="border-bottom: 1px solid #e7eaec">
                                        <label>Occupation</label>
                                        <br>
                                        <span><b class="printOccupation"></b></span>
                                    </td>
                                </tr>



                            </tbody>
                        </table>

                        <!--End of Table-->
                        <table style="width: 100%; height: 100%; color: black;" id="PlotTable" class="table table-bordered mb-0 ">
                            <thead>
                                <tr class="trPrint" style="background-color: #005aa1;color: white;">
                                    <td colspan="4" style="font-weight:600;font-size: 18px;height:40px;">&nbsp;Plot Details</td>
                                </tr>


                                <tr>
                                    <th class="center">Sr No.</th>
                                    <th class="center">Plot Type</th>
                                    <th class="center">Plot Size</th>
                                    <th class="center">Plot No</th>
                                </tr>
                            </thead>
                            <tbody class="PlotListing"></tbody>
                        </table>
                        <!--Enf of Table-->
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn grey btn-outline-info" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-outline-warning btnPrint">Print</button>
            </div>
        </div>
    </div>
</div>
@*Print Modal Start*@

@*Print ID Card Modal Start*@
<div class="modal fade text-left" id="PrintIDCard" role="dialog" aria-labelledby="myModalLabel16" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel16">Membership Profile</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-body frmMember">
                    <div id="IDCard">
                        <div class="container">
                            <table>
                                <tr>
                                <tr>
                                    <td>
                                        <img src="~/Content/assets/css/PrintMaterial/ID_Front.png" style="height:204px; width:323.52px;border:2px solid #000;">
                                        <img src="~/Content/assets/css/PrintMaterial/ID_Back.png" style="height:204px; width:323.52px;border:2px solid #000;">
                                        <div class="MembershipNo">
                                            <span><b class="IDCardMembershipNo"></b></span>
                                        </div>
                                        <div class="MemberImage">
                                            <img src="" class="IDCardProfile" style="width:75px; height: 97px;">
                                        </div>
                                        <div class="MemberName">
                                            <span><b>Muhammad Fahad</b></span>
                                        </div>
                                        <div class="MemberAddress">
                                            <span class="IDCardAddress"></span>
                                        </div>
                                        <div class="MemberCNIC">
                                            <span class="IDCardCNIC"></span>
                                        </div>
                                        <div class="MemberBloodGroup">
                                            <span><b class="IDCardBloodGroup"></b></span>
                                        </div>
                                        <div class="MemberMobile">
                                            <span class="IDCardCellNo"></span>
                                        </div>
                                        <div class="ValidityDate">
                                            <span class="IDCardExpiryDate"></span>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>

                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn grey btn-outline-info" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-outline-warning btnPrintIDCard">Print</button>
            </div>
        </div>
    </div>
</div>
@*Print ID Card Modal Start*@


@section Scripts
{
    <script type="text/x-jQuery-tmpl" id="MemberListing">
        <tr class="trMembers">

            <input type="hidden" class="hdnMemberId" value="${MemberId}" />
            <input type="hidden" class="hdnTitleId" value="${TitleId}" />
            <input type="hidden" class="hdnMemberRelationId" value="${MemberRelationId}" />
            <input type="hidden" class="hdnMemberRelation" value="${MemberRelation}" />
            <input type="hidden" class="hdnGenderId" value="${GenderId}" />
            <input type="hidden" class="hdnGender" value="${Gender}" />
            <input type="hidden" class="hdnCountryId" value="${CountryId}" />
            <input type="hidden" class="hdnCountry" value="${Country}" />
            <input type="hidden" class="hdnProvinceId" value="${ProvinceId}" />
            <input type="hidden" class="hdnProvince" value="${Province}" />
            <input type="hidden" class="hdnCityId" value="${CityId}" />
            <input type="hidden" class="hdnCity" value="${City}" />
            <input type="hidden" class="hdnFirstName" value="${FirstName}" />
            <input type="hidden" class="hdnLastName" value="${LastName}" />
            <input type="hidden" class="hdnFatherName" value="${FatherName}" />
            <input type="hidden" class="hdnCellNo" value="${CellNo}" />
            <input type="hidden" class="hdnLandline" value="${Landline}" />
            <input type="hidden" class="hdnWhatsApp" value="${WhatsApp}" />
            <input type="hidden" class="hdnOfficePhone" value="${OfficePhone}" />
            <input type="hidden" class="hdnEmail" value="${Email}" />
            <input type="hidden" class="hdnDob" value="${ToJavaScriptDate(Dob)}" />
            <input type="hidden" class="hdnBirthPlace" value="${BirthPlace}" />
            <input type="hidden" class="hdnCNIC" value="${CNIC}" />
            <input type="hidden" class="hdnCnicExpiryDate" value="${ToJavaScriptDate(CnicExpiryDate)}" />
            <input type="hidden" class="hdnBloodGroup" value="${BloodGroup}" />
            <input type="hidden" class="hdnPostalCode" value="${PostalCode}" />
            <input type="hidden" class="hdnOccupation" value="${Occupation}" />
            <input type="hidden" class="hdnPermanentAddress" value="${PermanentAddress}" />
            <input type="hidden" class="hdnOccupation" value="${Occupation}" />
            <input type="hidden" class="hdnMembershipNo" value="${MembershipNo}" />
            <input type="hidden" class="hdnMembershipDate" value="${ToJavaScriptDate(MembershipDate)}" />
            <input type="hidden" class="hdnReferenceNo" value="${ReferenceNo}" />
            <input type="hidden" class="hdnFolioNo" value="${FolioNo}" />
            <input type="hidden" class="hdnCnicFrontFile" value="${CnicFrontFile}" />
            <input type="hidden" class="hdnCnicBackFile" value="${CnicBackFile}" />
            <input type="hidden" class="hdnProfileFile" value="${ProfileFile}" />
            <input type="hidden" class="hdnManagementCommitteeId" value="${ManagementCommitteeId}" />

            <td align="center"></td>
            <td class="project-title tdMembershipNo">${MembershipNo}</td>
            <td class="project-title tdMembershipDate">${ToJavaScriptDate(MembershipDate)}</td>
            <td class="project-title tdName">${FirstName+' '+LastName}</td>
            <td class="project-title tdCellNo">${CellNo}</td>
            <td class="project-title tdStatus">
                <div class="badge badge-success badge-pill">Active</div>
            </td>
            <td class="project-title" nowrap>
                <a href="javascript:void(0)" onclick="PrintIDCard(this)" data-toggle="tooltip" title="ID Card"><i class="la la-credit-card primary"></i></a>
                <a href="javascript:void(0)" data-toggle="modal" data-target="#PrintMember" onclick="PrintIndividualMember(this)" data-toggle="tooltip" title="Print Profile"><i class="la la-user warning"></i></a>
                <a href="javascript:void(0)" data-toggle="modal" data-target="#EditMember" onclick="EditMember(this)" data-toggle="tooltip" title="Edit Member"><i class="la la-pencil-square success"></i></a>
                <a href="javascript:void(0)" data-toggle="modal" data-target="#EditAttachment" onclick="EditMember(this)" data-toggle="tooltip" title="Edit Attachment"><i class="ft-paperclip"></i></a>
                <a href="javascript:void(0)" data-toggle="modal" data-target="#DeleteMember" onclick="EditMember(this)" data-toggle="tooltip" title="Delete Member"><i class="la la-trash danger"></i></a>
            </td>
            <td align="center" class="project-title">
                <a href="${CnicFrontFile==''? '': '../Uploads/'+JSON.parse(CnicFrontFile)[0]}" download="" data-toggle="tooltip" title="CNIC Front"><i class="la la-cloud-download warning"></i></a>&nbsp;
                <a href="${CnicBackFile==''? '': '../Uploads/'+JSON.parse(CnicBackFile)[0]}" download="" data-toggle="tooltip" title="CNIC Back"><i class="la la-cloud-download success"></i></a>&nbsp;
                <a href="${ProfileFile==''? '': '../Uploads/'+JSON.parse(ProfileFile)[0]}" download="" data-toggle="tooltip" title="Profile Picture"><i class="la la-cloud-download info"></i></a>
            </td>
        </tr>
    </script>
    @*Print Individual*@
    <script type="text/x-jQuery-tmpl" id="PlotListing">

        <tr class="trPlots center" style="line-height: 25px;">

            <td style="border-bottom: 1px solid #e7eaec;"></td>
            <td class="project-title tdPlotType" style="border-bottom: 1px solid #e7eaec;">${PlotType}</td>
            <td class="project-title tdPlotSize" style="border-bottom: 1px solid #e7eaec;">${Size+' '+Unit}</td>
            <td class="project-title tdPlotNo" style="border-bottom: 1px solid #e7eaec;">${PlotNo}</td>
        </tr>
    </script>
    <script src="~/Scripts/assets/js/PagesJS/Member.js"></script>


}






