
@{
    ViewBag.Title = "Membership Single - Shah Wilayat Cooperative Housing Society";
    Layout = "~/Views/Shared/_MasterPage.cshtml";
}

<div class="content-header row">
    <div class="content-header-left col-md-6 col-12 mb-2">
        <h3 class="content-header-title">Membership Form Single</h3>
    </div>

</div>

<!-- Both borders end-->
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <fieldset>
                    <div class="input-group">
                        <input type="text" class="form-control txtSearch" placeholder="Search..." aria-describedby="basic-addon4">
                        <div class="input-group-append">
                            <span class="input-group-text" id="basic-addon4"><i class="la la-search"></i></span>
                        </div>
                    </div>
                </fieldset>

            </div>
            <div class="card-content">

                <div class="table-responsive">
                    <table class="table table-bordered mb-0 tblMembershipFormSingle">
                        <thead>
                            <tr>
                                <th nowrap>Sr No.</th>
                                <th>Membership No</th>
                                <th>Member</th>
                                <th>Nominee</th>
                                <th>Relation</th>
                                <th>Plot No</th>
                                <th>Action</th>

                            </tr>
                        </thead>
                        <tbody class="MembershipFormSingleListing"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


@*Print Modal Start*@
<div class="modal fade text-left" id="PrintMember" role="dialog" aria-labelledby="myModalLabel16" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel16">Membership Profile</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-body frmMember">
                    <div id="PrintMembershipSingle">
                        <div class="container">
                            <table>
                                <tr>
                                <tr>
                                    <td>

                                        <img src="~/Content/assets/css/PrintMaterial/MembershipSingle/Form.jpg" style="width:100%;">
                                        <div class="RefNo">
                                            <span><b class="printReferenceNo"></b></span>
                                        </div>
                                        <div class="MembershipDate">
                                            <span><b class="printMembershipDate"></b></span>
                                        </div>
                                        <div class="MemberName">
                                            <span><b class="printFullName"></b></span>
                                        </div>
                                        <div class="MemberFatherName">
                                            <span><b class="printFatherName"></b></span>
                                        </div>
                                        <div class="NomineeName">
                                            <span><b class="printNomineeFullName"></b></span>
                                        </div>
                                        <div class="NomineeFatherName">
                                            <span><b class="printNomineeFatherName"></b></span>
                                        </div>
                                        <div class="MemberDOB">
                                            <span><b class="printDob"></b></span>
                                        </div>
                                        <div class="MemberBirthPlace">
                                            <span><b class="printBirthPlace"></b></span>
                                        </div>

                                        <div class="NomineeDOB">
                                            <span><b class="printNomineeDob"></b></span>
                                        </div>
                                        <div class="NomineeBirthPlace">
                                            <span><b class="printNomineeBirthPlace"></b></span>
                                        </div>
                                        <div class="MemberImage">
                                            <img class="printProfileFile" src="" style="width:111px; height: 153px;">
                                        </div>
                                        <div class="NomineeImage">
                                            <img class="printNomineeProfileFile" src="" style="width:111px; height: 153px;border-radius:0px 16px 0px 0px;">
                                        </div>
                                        <div class="MemberAddress">
                                            <span class="printPermanentAddress"></span>
                                        </div>
                                        <div class="NomineeAddress">
                                            <span class="printNomineePermanentAddress"></span>
                                        </div>
                                        <div class="MemberCNIC">
                                            <span class="printCNIC"></span>
                                        </div>
                                        <div class="NomineeCNIC">
                                            <span class="printNomineeCNIC"></span>
                                        </div>

                                        <div class="MemberLandline">
                                            <span><b class="printLandline"></b></span>
                                        </div>
                                        <div class="NomineeLandline">
                                            <span><b class="printNomineeLandline"></b></span>
                                        </div>

                                        <div class="MemberOffLandline">
                                            <span><b class="printOfficePhone"></b></span>
                                        </div>
                                        <div class="NomineeOffLandline">
                                            <span><b class="printNomineeOffPhone"></b></span>
                                        </div>

                                        <div class="MemberBloodGroup">
                                            <span><b class="printBloodGroup"></b></span>
                                        </div>
                                        <div class="NomineeBloodRelation">
                                            <span><b class="printNomineeRelation"></b></span>
                                        </div>
                                        <div class="MemberMobile">
                                            <span><b class="printCellNo"></b></span>
                                        </div>
                                        <div class="NomineeMobile">
                                            <span><b class="printNomineeCellNo"></b></span>
                                        </div>
                                        <div class="MemberEmail">
                                            <span><b class="printEmail"></b></span>
                                        </div>
                                        <div class="NomineeEmail">
                                            <span><b class="printNomineeEmail"></b></span>
                                        </div>
                                        <div class="NomineeRelation">
                                            <span><b class="printNomineeRelation"></b></span>
                                        </div>
                                        <div class="NomineeRelationName">
                                            <span><b class="printNomineeFullName"></b></span>
                                        </div>
                                        <div class="PlotTitle">
                                            <span><b class="printPlotType"></b></span>
                                        </div>
                                        <div class="MembershipNo">
                                            <span><b class="printMembershipNo"></b></span>
                                        </div>
                                        <div class="PlotNo">
                                            <span><b class="printPlotNo"></b></span>
                                        </div>
                                        <div class="PlotSize">
                                            <span><b class="printPlotSize"></b></span>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn grey btn-outline-info" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-outline-warning btnPrint" onclick="PrintMembershipSingle(this);">Print</button>
            </div>
        </div>
    </div>
</div>
@*Print Modal Start*@


@section Scripts
{
    <script type="text/x-jQuery-tmpl" id="MembershipFormSingleListing">
        <tr class="trMembershipFormSingle">
            <input type="hidden" class="hdnFullName" value="${FirstName +' '+LastName}" />
            <input type="hidden" class="hdnFatherName" value="${FatherName}" />
            <input type="hidden" class="hdnDob" value="${Dob}" />
            <input type="hidden" class="hdnBirthPlace" value="${BirthPlace}" />
            <input type="hidden" class="hdnPermanentAddress" value="${PermanentAddress}" />
            <input type="hidden" class="hdnCNIC" value="${CNIC}" />
            <input type="hidden" class="hdnNomineeCNIC" value="${NomineeCNIC}" />
            <input type="hidden" class="hdnProfileFile" value="${ProfileFile}" />
            <input type="hidden" class="hdnNomineeProfileFile" value="${NomineeProfileFile}" />
            <input type="hidden" class="hdnCellNo" value="${CellNo}" />
            <input type="hidden" class="hdnNomineeCellNo" value="${NomineeCellNo}" />
            <input type="hidden" class="hdnLandline" value="${Landline}" />
            <input type="hidden" class="hdnNomineeLandline" value="${NomineeLandline}" />
            <input type="hidden" class="hdnOfficePhone" value="${OfficePhone}" />
            <input type="hidden" class="hdnBloodGroup" value="${BloodGroup}" />
            <input type="hidden" class="hdnEmail" value="${Email}" />
            <input type="hidden" class="hdnNomineeEmail" value="${NomineeEmail}" />
            <input type="hidden" class="hdnRelationId" value="${RelationId}" />
            <input type="hidden" class="hdnRelation" value="${Relation}" />
            <input type="hidden" class="hdnNomineeName" value="${NomineeName}" />
            <input type="hidden" class="hdnNomineeFatherName" value="${NomineeFatherName}" />
            <input type="hidden" class="hdnNomineeDob" value="${NomineeDob}" />
            <input type="hidden" class="hdnNomineeBirthPlace" value="${NomineeBirthPlace}" />
            <input type="hidden" class="hdnNomineeAddress" value="${NomineeAddress}" />
            <input type="hidden" class="hdnReferenceNo" value="${ReferenceNo}" />
            <input type="hidden" class="hdnMembershipDate" value="${MembershipDate}" />
            <input type="hidden" class="hdnMembershipNo" value="${MembershipNo}" />
            <input type="hidden" class="hdnPlotNo" value="${PlotNo}" />
            <input type="hidden" class="hdnPlotType" value="${PlotType}" />
            <input type="hidden" class="hdnPlotSize" value="${PlotSize}" />
            <td></td>
            <td class="project-title tdMemberShipNo" nowrap>${MembershipNo}</td>
            <td class="project-title tdName" nowrap>${FirstName+' '+LastName}</td>
            <td class="project-title tdNomineeName" nowrap>${NomineeName}</td>
            <td class="project-title tdRelation" nowrap>${Relation}</td>

            <td class="project-title tdPlotNo" nowrap>${PlotNo}</td>


            <td class="project-title" nowrap>

                <a href="javascript:void(0)" onclick="PrintMembershipSingle(this);" title="Membership Single"><i class="la la-print warning"></i></a>

            </td>


        </tr>
    </script>

    <script src="~/Scripts/assets/js/PagesJS/MembershipSingle.js?v=0"></script>


}



