
@{
    ViewBag.Title = "Manual Payment - Shah Wilayat Cooperative Housing Society";
    Layout = "~/Views/Shared/_MasterPage.cshtml";
}


<div class="content-wrapper">
    <div class="content-header row">
        <div class="content-header-left col-md-6 col-12 mb-2">
            <h3 class="content-header-title">Manual Payment</h3>
        </div>
    </div>
    <div class="content-body">

        <section id="add-payments">
            <div class="card">
                <div class="card-header">
                    <h2 class="card-title">Add Manual Payment Information</h2>
                </div>
                <div class="card-body frmManualPayment">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="ddlAllotmentType">Allotment Type</label>
                                <select class="form-control ddlAllotmentType">
                                    <option value="0">--Select--</option>
                                    <option value="1">Original Allotment</option>
                                    <option value="2">Doubling Allotment</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="ddlMember">Member</label>
                                <select class="form-control ddlMember select2" style="width:100%"></select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="ddlPlotType">Plot Type</label>
                                <select class="form-control ddlPlotType select2" style="width:100%"></select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="ddlPlot">Plot</label>
                                <select class="form-control ddlPlot select2" style="width:100%"></select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="txtPaymentDate">Payment Date</label>
                                <input type="text" class="form-control DatePicker txtPaymentDate" placeholder="mm/dd/yyyy">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="ddlPaymentCategory">Payment Category</label>
                                <select class="form-control ddlPaymentCategory select2" style="width:100%"></select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="ddlPaymentType">Payment Type</label>
                                <select class="form-control ddlPaymentType"></select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="ddlPaymentMethod">Payment Method</label>
                                <select class="form-control ddlPaymentMethod"></select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="txtPayableAmount">Payment Amount</label>
                                <input type="text" class="form-control txtPayableAmount" placeholder="Enter payment amount"></>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="txtReceiptNo">Receipt No</label>
                                <input type="text" class="form-control txtReceiptNo" placeholder="Enter receipt no" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="txtChequeNo">Cheque No</label>
                                <input type="text" class="form-control txtChequeNo notrequired" disabled="" placeholder="Enter cheque no" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="txtChequeDate">Cheque Date</label>
                                <input type="text" class="form-control DatePickerComplete txtChequeDate" disabled="" placeholder="mm/dd/yyyy">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="txtRemarks">Remarks</label>
                                <textarea class="form-control txtRemarks notrequired" rows="2" placeholder="Enter your remarks"></textarea>

                            </div>
                        </div>
                    </div>

                </div>
                <div class="card-footer ml-auto">
                    <span>
                        <button class="btn btn-outline-success mr-1 waves-effect waves-light btnManualPayment">Make Payment</button> <button class="btn btn-outline-danger waves-effect waves-light" onclick="Init()">Reset</button>
                    </span>
                </div>
            </div>

        </section>
    </div>
</div>


@section Scripts
{


    <script src="~/Scripts/assets/js/PagesJS/ManualPayment.js"></script>


}
