@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
	font-family:"open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body
{
	-webkit-print-color-adjust: exact !important;
}

th
{

  width: 100%;
}

span
{

  font-size:13px;
  border:none;

}


label
{
  font-size:14px;
}
