
@{
    ViewBag.Title = "Payment Setup - Shah Wilayat Cooperative Housing Society";
    Layout = "~/Views/Shared/_MasterPage.cshtml";
}


<div class="content-header row">
    <div class="content-header-left col-md-6 col-12 mb-2">
        <h3 class="content-header-title">Plot</h3>
    </div>

</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#CreatePaymentSetup">
                    Add New Payment Setup
                </button>
            </div>
        </div>
    </div>
</div>
<!-- Both borders end-->
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <fieldset>
                    <div class="input-group">
                        <input type="text" class="form-control txtSearch" placeholder="Search..." aria-describedby="basic-addon4">
                        <div class="input-group-append">
                            <span class="input-group-text" id="basic-addon4"><i class="la la-search"></i></span>
                        </div>
                    </div>
                </fieldset>

            </div>
            <div class="card-content">

                <div class="table-responsive">
                    <table class="table table-bordered mb-0 tblPaymentSetup">
                        <thead>
                            <tr>
                                <th nowrap>Sr No.</th>
                                <th>Payment Category</th>
                                <th>Tenure</th>
                                <th>Rate</th>
                                <th>Plot Type</th>
                                <th>Plot</th>
                                <th>Fixed Rate</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody class="PaymentSetupListing"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@*Create Modal Start*@
<div class="modal fade text-left" id="CreatePaymentSetup" role="dialog" aria-labelledby="myModalLabel16" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel16">Create New Plot</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-body frmPlot">
                    <h4 class="form-section"><i class="la la-gears"></i> Payment Setup Detail</h4>
                    <hr>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="ddlPaymentCategory">Payment Category</label>
                                <select class="form-control ddlPaymentCategory"></select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="ddlTenure">Tenure</label>
                                <select class="form-control ddlTenure"></select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="ddlPlotType">Plot Type</label>
                                <select class="form-control ddlPlotType"></select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="ddlPlot">Plot</label>
                                <select class="form-control ddlPlot"></select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="txtRate">Rate</label>
                                <input type="text" class="form-control txtRate" placeholder="Enter rate">
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="ddlFixed">Fixed/ Square Yards</label>
                                <select class="form-control ddlFixed">
                                    <option value="0">--Select--</option>
                                    <option value="1">Per Square Yard</option>
                                    <option value="2">Fixed</option>
                                </select>

                            </div>
                        </div>

                    </div>


                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn grey btn-outline-info" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-outline-dark btnSaveChanges">Save changes</button>
            </div>
        </div>
    </div>
</div>
@*Create Modal End*@


@*Edit Modal Start*@
<div class="modal fade text-left" id="EditPaymentSetup" role="dialog" aria-labelledby="myModalLabel16" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel16">Edit Payment Setup</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-body frmPlot">
                    <h4 class="form-section"><i class="la la-gears"></i> Payment Setup Detail</h4>
                    <hr>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="ddlPaymentCategory_upd">Payment Category</label>
                                <select class="form-control ddlPaymentCategory_upd"></select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="ddlTenure_upd">Tenure</label>
                                <select class="form-control ddlTenure_upd"></select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="ddlPlotType_upd">Plot Type</label>
                                <select class="form-control ddlPlotType_upd"></select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="ddlPlot_upd">Plot</label>
                                <select class="form-control ddlPlot_upd"></select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="txtRate_upd">Rate</label>
                                <input type="text" class="form-control txtRate_upd" placeholder="Enter rate">
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="ddlFixed_upd">Fixed/ Square Yards</label>
                                <select class="form-control ddlFixed_upd">
                                    <option value="0">--Select--</option>
                                    <option value="1">Per Square Yard</option>
                                    <option value="2">Fixed</option>
                                </select>

                            </div>
                        </div>

                    </div>


                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn grey btn-outline-info" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-outline-dark btnUpdateChanges">Save changes</button>
            </div>
        </div>
    </div>
</div>
@*Edit Modal Start*@

@*Edit Attachment Start*@
<div class="modal fade text-left" id="EditAttachment" role="dialog" aria-labelledby="myModalLabel16" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel16">Edit Attachment</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-body frmAttachment">
                    <hr>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="fileinput fileinput-new" data-provides="fileinput">

                                <span class="btn btn-block btn-outline btn-info btn-file">
                                    <span class="fileinput-new">Attach CNIC Front</span>
                                    <i class="fa fa-upload"></i>&nbsp;&nbsp;
                                    <span class="fileinput-exists">Change</span><input type="file" name="..." class="txtCnicFrontFile_upd" accept="image/*" />
                                </span>
                                <span class="fileinput-filename"></span>
                                <a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="float: none">×</a>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="fileinput fileinput-new" data-provides="fileinput">

                                <span class="btn btn-block btn-outline btn-info btn-file">
                                    <span class="fileinput-new">Attach CNIC Back</span>
                                    <i class="fa fa-upload"></i>&nbsp;&nbsp;
                                    <span class="fileinput-exists">Change</span><input type="file" name="..." class="txtCnicBackFile_upd" accept="image/*" />
                                </span>
                                <span class="fileinput-filename"></span>
                                <a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="float: none">×</a>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="fileinput fileinput-new" data-provides="fileinput">

                                <span class="btn btn-block btn-outline btn-info btn-file">
                                    <span class="fileinput-new">Attach Recent Profile Picture</span>
                                    <i class="fa fa-upload"></i>&nbsp;&nbsp;
                                    <span class="fileinput-exists">Change</span><input type="file" name="..." class="txtProfileFile_upd" accept="image/*" />
                                </span>
                                <span class="fileinput-filename"></span>
                                <a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="float: none">×</a>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn grey btn-outline-info" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-outline-dark btnUpdateAttachment">Save changes</button>
            </div>
        </div>
    </div>
</div>
@*Edit Attachment Start*@

@*Delete Modal Start*@
<div class="modal fade text-left" id="DeleteAllotment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel10"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-danger white">
                <h4 class="modal-title white" id="myModalLabel10">Are you sure to delete this item?</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn grey btn-outline-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-outline-danger btnDelete">Delete</button>
            </div>
        </div>
    </div>
</div>
@*Delete Modal Start*@

@section Scripts
{
    <script type="text/x-jQuery-tmpl" id="PaymentSetupListing">
        <tr class="trPaymentSetup">

            <input type="hidden" class="hdnPaymentSetupId" value="${PaymentSetupId}" />
            <input type="hidden" class="hdnPaymentCategoryId" value="${PaymentCategoryId}" />
            <input type="hidden" class="hdnPaymentCategory" value="${PaymentCategory}" />
            <input type="hidden" class="hdnPlotSubTypeId" value="${PlotSubTypeId}" />
            <input type="hidden" class="hdnPlotSubType" value="${PlotSubType}" />
            <input type="hidden" class="hdnTenureId" value="${TenureId}" />
            <input type="hidden" class="hdnRate" value="${Rate}" />
            <input type="hidden" class="hdnPlotTypeId" value="${PlotTypeId}" />
            <input type="hidden" class="hdnPlotId" value="${PlotId}" />
            <input type="hidden" class="hdnIsFixed" value="${IsFixed}" />


            <td></td>
            <td class="project-title tdPlotType">${PlotType}</td>
            <td class="project-title tdTenure">${Tenure}</td>
            <td class="project-title tdRate">${Rate}</td>
            <td class="project-title tdPlotType" align="center">${PlotType}</td>
            <td class="project-title tdPlot">${Plot}</td>
            <td class="project-title tdIsFixed">${IsFixed}</td>

            <td class="project-title tdIsFixed">
                <div class="${IsFixed==true?'badge badge-success badge-pill': 'badge badge-warning badge-pill'}">${IsFixed==true?'Allotted': 'Not Allotted'}</div>
            </td>
            <td class="project-title" nowrap>
                <a href="javascript:void(0)" data-toggle="modal" data-target="#EditPaymentSetup" onclick="EditPaymentSetup(this)" data-toggle="tooltip" data-placement="top" data-original-title="Edit Plot"><i class="la la-pencil-square success"></i></a>

                <a href="javascript:void(0)" data-toggle="modal" data-target="#DeletePlot" onclick="EditPaymentSetup(this)" data-toggle="tooltip" data-placement="top" data-original-title="Delete Plot"><i class="la la-trash danger"></i></a>
            </td>

        </tr>
    </script>

    <script src="~/Scripts/assets/js/PagesJS/PaymentSetup.js"></script>


}


