
@{
    ViewBag.Title = "Charges - Shah Wilayat Cooperative Housing Society";
    Layout = "~/Views/Shared/_MasterPage.cshtml";
}



<div class="content-header row">
    <div class="content-header-left col-md-6 col-12 mb-2">
        <h3 class="content-header-title">Plot</h3>
    </div>

</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#CreateCharges">
                    Add New Charges
                </button>
            </div>
        </div>
    </div>
</div>
<!-- Both borders end-->
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <fieldset>
                    <div class="input-group">
                        <input type="text" class="form-control txtSearch" placeholder="Search..." aria-describedby="basic-addon4">
                        <div class="input-group-append">
                            <span class="input-group-text" id="basic-addon4"><i class="la la-search"></i></span>
                        </div>
                    </div>
                </fieldset>

            </div>
            <div class="card-content">

                <div class="table-responsive">
                    <table class="table table-bordered mb-0 tblCharges">
                        <thead>
                            <tr>
                                <th nowrap>Sr No.</th>
                                <th>Payment Setup</th>
                               
                                <th>Due Date</th>
                                <th>Surcharge (%)</th>
                                <th align="center">Fixed/ Sqyd</th>
                                <th align="center">Action</th>
                            </tr>
                        </thead>
                        <tbody class="ChargesListing"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@*Create Modal Start*@
<div class="modal fade text-left" id="CreateCharges" role="dialog" aria-labelledby="myModalLabel16" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel16">Create New Charges</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-body frmCharges">
                    <h4 class="form-section"><i class="la la-gears"></i> Charges Detail</h4>
                    <hr>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="ddlPaymentSetup">Payment Setup</label>
                                <select class="form-control ddlPaymentSetup"></select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="txtDescription">Description</label>
                                <input type="text" class="form-control txtDescription" placeholder="Enter description">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="txtDueDate">Due Date</label>
                                <input type="text" class="form-control txtDueDate DatePicker" placeholder="yyyy-mm-dd">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="txtSurcharge">Surcharge</label>
                                <input type="text" class="form-control txtSurcharge numericOnly" placeholder="Enter surcharge %">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn grey btn-outline-info" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-outline-dark btnSaveChanges">Save changes</button>
            </div>
        </div>
    </div>
</div>
@*Create Modal End*@


@*Edit Modal Start*@
<div class="modal fade text-left" id="EditCharges" role="dialog" aria-labelledby="myModalLabel16" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel16">Edit Charges</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-body frmCharges_upd">
                    <h4 class="form-section"><i class="la la-gears"></i> Charges Detail</h4>
                    <hr>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="ddlPaymentSetup_upd">Payment Setup</label>
                                <select class="form-control ddlPaymentSetup_upd" disabled></select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="txtDescription_upd">Description</label>
                                <input type="text" class="form-control txtDescription_upd" placeholder="Enter description">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="txtDueDate_upd">Due Date</label>
                                <input type="text" class="form-control txtDueDate_upd DatePicker" placeholder="yyyy-mm-dd">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="txtSurcharge">Surcharge</label>
                                <input type="text" class="form-control txtSurcharge_upd numericOnly" placeholder="Enter surcharge %">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn grey btn-outline-info" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-outline-dark btnUpdateChanges">Save changes</button>
            </div>
        </div>
    </div>
</div>
@*Edit Modal Start*@



@*Delete Modal Start*@
<div class="modal fade text-left" id="DeleteAllotment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel10"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-danger white">
                <h4 class="modal-title white" id="myModalLabel10">Are you sure to delete this item?</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn grey btn-outline-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-outline-danger btnDelete">Delete</button>
            </div>
        </div>
    </div>
</div>
@*Delete Modal Start*@

@section Scripts
{
    <script type="text/x-jQuery-tmpl" id="ChargesListing">
        <tr class="trCharges">

            <input type="hidden" class="hdnChargeId" value="${ChargeId}" />
            <input type="hidden" class="hdnPaymentSetupId" value="${PaymentSetupId}" />
            <input type="hidden" class="hdnDescription" value="${Description}" />
            <input type="hidden" class="hdnDueDate" value="${ToJavaScriptDate(DueDate)}" />
            <input type="hidden" class="hdnSurcharge" value="${Surcharge}" />

            <td></td>
            <td class="project-title tdPaymentSetup">${PaymentSetup}</td>
           
           
            <td class="project-title tdDueDate">${ToJavaScriptDate(DueDate)}</td>
            <td class="project-title tdSurcharge" align="center">${Surcharge}</td>
            <td class="project-title tdIsFixed">
                <div class="${IsFixed==true?'badge badge-success badge-pill': 'badge badge-warning badge-pill'}">${IsFixed==true?'Fixed': 'Per Sqyd'}</div>
            </td>

            <td class="project-title" nowrap>
                <a href="javascript:void(0)" data-toggle="modal" data-target="#EditCharges" onclick="EditCharges(this)" data-toggle="tooltip" data-placement="top" data-original-title="Edit Plot"><i class="la la-pencil-square success"></i></a>

                <a href="javascript:void(0)" data-toggle="modal" data-target="#DeletePlot" onclick="EditCharges(this)" data-toggle="tooltip" data-placement="top" data-original-title="Delete Plot"><i class="la la-trash danger"></i></a>
            </td>

        </tr>
    </script>

    <script src="~/Scripts/assets/js/PagesJS/Charges.js"></script>


}

