
@{
    ViewBag.Title = "Genernal Payment - Shah Wilayat Cooperative Housing Society";
    Layout = "~/Views/Shared/_MasterPage.cshtml";
}


<div class="content-header row">
    <div class="content-header-left col-md-6 col-12 mb-2">
        <h3 class="content-header-title">Genernal Payment Report (Society)</h3>
    </div>

</div>


<div class="row">
    <div class="col-12">
        <div class="card">

            <div class="card-content">
                <div class="demo-container">
                    <div id="gridContainer"></div>
                </div>

            </div>
        </div>
    </div>
</div>



@section Scripts
{


    <script src="~/Scripts/assets/js/PagesJS/GeneralPayment.js"></script>


}
