
@{
    ViewBag.Title = "Transfer - Shah Wilayat Cooperative Housing Society";
    Layout = "~/Views/Shared/_MasterPage.cshtml";
}

<div class="content-header row">
    <div class="content-header-left col-md-6 col-12 mb-2">
        <h3 class="content-header-title">Transfer</h3>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#CreateTransfer">
                    Add New Transfer
                </button>
            </div>
        </div>
    </div>
</div>
<!-- Both borders end-->
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <fieldset>
                    <div class="input-group">
                        <input type="text" class="form-control txtSearch" placeholder="Search..." aria-describedby="basic-addon4">
                        <div class="input-group-append">
                            <span class="input-group-text" id="basic-addon4"><i class="la la-search"></i></span>
                        </div>
                    </div>
                </fieldset>

            </div>
            <div class="card-content">

                <div class="table-responsive">
                    <table class="table table-bordered mb-0 tblTransfer">
                        <thead>
                            <tr>
                                <th nowrap>Sr No.</th>
                                <th>Transfer Order No</th>
                                <th>Member</th>
                                <th>Plot</th>
                                <th>Transfer Date</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody class="TransferListing"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@*Create Modal Start*@
<div class="modal fade text-left" id="CreateTransfer" role="dialog" aria-labelledby="myModalLabel16" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel16">Create New Transfer</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-body frmTransfer">
                    <h4 class="form-section"><i class="la la-exchange"></i> Transfer Details</h4>
                    <hr>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="ddlMember">Member</label>
                                <select id="ddlMember" class="form-control ddlMember mySelect select2" style="width:100%"></select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="ddlPlot">Plot</label>
                                <select id="ddlPlot" class="form-control ddlPlot mySelect select2" style="width:100%"></select>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="txtTransferOrderNo">Transfer Order No</label>
                                <input type="text" id="txtTransferOrderNo" class="form-control txtTransferOrderNo" placeholder="Enter transfer no">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="txtTransferDate">Transfer Date</label>
                                <input type="text" id="txtTransferDate" class="form-control DatePicker txtTransferDate" placeholder="yyyy-mm-dd">
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="txtMCMDate">MCM Date</label>
                                <input type="text" id="txtMCMDate" class="form-control DatePicker txtMCMDate" placeholder="yyyy-mm-dd">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="txtNewspaperName">Newspaper Name </label>
                                <input type="text" id="txtNewspaperName" class="form-control txtNewspaperName" placeholder="Enter newspaper name">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="txtNewspaperAdvDate">Newspaper Advertisement Date</label>
                                <input type="text" id="txtNewspaperAdvDate" class="form-control DatePicker txtNewspaperAdvDate" placeholder="yyyy-mm-dd">
                            </div>
                        </div>

                    </div>
                    <h4 class="form-section"><i class="ft-paperclip"></i> Attachments</h4>
                    <hr>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="fileinput fileinput-new" data-provides="fileinput">

                                <span class="btn btn-block btn-outline btn-info btn-file">
                                    <span class="fileinput-new">Attach Newspaper Scan</span>
                                    <i class="fa fa-upload"></i>&nbsp;&nbsp;
                                    <span class="fileinput-exists">Change</span><input type="file" class="txtNewspaperScan notrequired" accept="image/*" />
                                </span>
                                <span class="fileinput-filename"></span>
                                <a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="float: none">×</a>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="fileinput fileinput-new" data-provides="fileinput">

                                <span class="btn btn-block btn-outline btn-info btn-file">
                                    <span class="fileinput-new">Attach Indemnity Bond Scan </span>
                                    <i class="fa fa-upload"></i>&nbsp;&nbsp;
                                    <span class="fileinput-exists">Change</span><input type="file" class="txtIndemnityBondScan notrequired" accept="image/*" />
                                </span>
                                <span class="fileinput-filename"></span>
                                <a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="float: none">×</a>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="fileinput fileinput-new" data-provides="fileinput">

                                <span class="btn btn-block btn-outline btn-info btn-file">
                                    <span class="fileinput-new">Attach Transfer Order Scan</span>
                                    <i class="fa fa-upload"></i>&nbsp;&nbsp;
                                    <span class="fileinput-exists">Change</span><input type="file" class="txtTransferOrderScan notrequired" accept="image/*" />
                                </span>
                                <span class="fileinput-filename"></span>
                                <a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="float: none">×</a>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn grey btn-outline-info" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-outline-dark btnSaveChanges">Save changes</button>
            </div>
        </div>
    </div>
</div>

@*Create Modal End*@

@*Edit Modal Start*@
<div class="modal fade text-left" id="EditTransfer" role="dialog" aria-labelledby="myModalLabel16" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel16">Edit Transfer</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">s
                <div class="form-body frmTransfer_upd">
                    <h4 class="form-section"><i class="la la-exchange"></i> Transfer Details</h4>
                    <hr>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="ddlMember_upd">Member</label>
                                <select id="ddlMember_upd"  disabled class="form-control ddlMember_upd notrequired" style="width:100%"></select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="ddlPlot">Plot</label>
                                <select id="ddlPlot" disabled class="form-control ddlPlot notrequired" style="width:100%"></select>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="txtTransferOrderNo_upd">Transfer Order No</label>
                                <input type="text" id="txtTransferOrderNo_upd" class="form-control txtTransferOrderNo_upd" placeholder="Enter transfer no">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="txtTransferDate_upd">Transfer Date</label>
                                <input type="text" id="txtTransferDate_upd" class="form-control DatePicker txtTransferDate_upd" placeholder="yyyy-mm-dd">
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="txtMCMDate_upd">MCM Date</label>
                                <input type="text" id="txtMCMDate_upd" class="form-control DatePicker txtMCMDate_upd" placeholder="yyyy-mm-dd">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="txtNewspaperName_upd">Newspaper Name </label>
                                <input type="text" id="txtNewspaperName_upd" class="form-control txtNewspaperName_upd" placeholder="Enter newspaper name">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="txtNewspaperAdvDate_upd">Newspaper Advertisement Date</label>
                                <input type="text" id="txtNewspaperAdvDate_upd" class="form-control DatePicker txtNewspaperAdvDate_upd" placeholder="yyyy-mm-dd">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn grey btn-outline-info" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-outline-dark btnUpdateChanges">Save changes</button>
            </div>
        </div>
    </div>
</div>

@*Edit Modal Start*@

@*Edit Modal Transfer Order Start*@
<div class="modal fade text-left" id="TransferOrder" role="dialog" aria-labelledby="myModalLabel16" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel16">Edit Transfer</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="PrintTransferOrder" class="reveal">
                    <table style="width: 100%; height:100%; color: black;">
                        <thead>
                            <tr>
                                <img src="~/Content/assets/css/PrintMaterial/TransferOrder/Top-img.png" style="width:100%;">

                            </tr>

                        </thead>
                        <tbody style="height: 100%;">
                            <tr style="height:60px;">
                                <td style="width: 15%;"></td>
                                <td colspan="2" align="center">

                                    <span style="font-size:24px;font-weight:600;line-height:0;text-align:center;border-bottom: 2px solid #000;">TRANSFER ORDER</span>
                                </td>
                                <td style="width:5%;"></td>
                            </tr>
                            <tr style="line-height:20px;">
                                <td style="width: 15%;"></td>
                                <td colspan="3">
                                    <label>Name of Transferee: </label><span><b><u>Qamar Un Nisa </u></b></span>
                                </td>
                                <td style="width:5%;"></td>
                            </tr>

                            <tr style="line-height:20px;">
                                <td style="width: 15%;"></td>
                                <td colspan="3">
                                    <label>S/o, D/o, W/o: </label><span><b><u>Firasat Ali Siddiqui</u></b></span>
                                </td>
                                <td style="width:5%;"></td>
                            </tr>

                            <tr style="line-height:20px;">
                                <td style="width: 15%;"></td>
                                <td colspan="3">
                                    <label>National Identity Card No:</label><span><b><u>42201-4327962-2</u></b></span>
                                </td>
                                <td style="width:5%;"></td>
                            </tr>

                            <tr style="line-height:20px;">
                                <td style="width: 15%;"></td>
                                <td colspan="3">
                                    <label>Address: </label><span>
                                        <b>
                                            <u>
                                                House # A-188, Block 13, Gulistan-e-Jouhar, Karachi.
                                            </u>
                                        </b>
                                    </span>
                                </td>
                                <td style="width: 5%;"></td>
                            </tr>
                            <tr style="line-height:20px;">
                                <td style="width:15%;"></td>
                                <td colspan="3">
                                    <label>Plot No:</label>&nbsp;&nbsp;<span><b><u>R-258 </u></b></span>
                                    <label>Sector No.</label>&nbsp;&nbsp;<span><b><u>49-A </u></b></span>
                                    <label>Area:</label>&nbsp;&nbsp;<span><b><u>120</u></b></span>&nbsp;&nbsp;Sq. Yds.
                                </td>
                                <td style="width: 5%;"></td>
                            </tr>

                            <tr><td><br></td></tr>
                            <tr>
                                <td style="width: 15%;"></td>
                                <td colspan="3">
                                    <p style="line-height:1;font-size:17px;">
                                        Dear Sir/Madam,
                                    </p>
                                    <p style="line-height:1.3;font-size:18px;text-align:justify;">
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;With the approval of the Managing Committee meeting of Shah Wilayat
                                        Cooperative Housing Society Ltd., Karachi held on <span><b><u>04-05-2019</u></b>, the Society has been pleased to transfer the occupancy rights of the above plot in your name by the way of Sale Agreement, dated <span><b><u>10-04-2019</u></b>, in heritance on the same terms and conditions on which the plot was originally allotted. Your Membership no.will be <span><b><u>SWC/166/06</u></b>.
                                    </p>
                                </td>
                                <td style="width:5%;"></td>
                            </tr>
                            <tr><td><br></td></tr>
                            <tr>
                                <td style="width: 15%;"></td>
                                <td><img src="~/Content/assets/css/PrintMaterial/TransferOrder/user.jpg" style="width:130px; height:170px;"></td>
                                <td style="text-align: center;padding-top:50px;">
                                    <span style="margin-right: 50px;">_______________</span>
                                    <span>_____________________</span> <br>
                                    <span style="font-size:14px;margin-left:20px;">Hon. Secretary</span>
                                    <span style="font-size:14px; margin-left:70px;">Member Managing Committee</span>
                                    <p style="font-size:17px;text-align: left; margin-left: 30px;">
                                        Shah Wilayat Cooperative Housing Society Ltd.
                                        <br>KARACHI.
                                    </p>
                                </td>
                            </tr>
                            <tr><td><br></td></tr>
                            <tr style="line-height:20px;">
                                <td style="width: 15%;"></td>
                                <td colspan="3">
                                    <label>CC To: </label>&nbsp;&nbsp;<span><b><u>Sadaf Syed</u></b></span>
                                </td>
                                <td style="width:5%;"></td>
                            </tr>
                            <tr style="line-height:20px;">
                                <td style="width: 15%;"></td>
                                <td colspan="3">
                                    <label>CNIC # :</label>&nbsp;&nbsp;<span><b><u>43828-8281278-3</u></b></span>
                                </td>
                                <td style="width:5%;"></td>
                            </tr>
                            <tr style="line-height:20px;">
                                <td style="width: 15%;"></td>
                                <td colspan="3">
                                    <label>Address:</label>&nbsp;&nbsp;<span>
                                        <b>
                                            <u>
                                                House # L-3021, Gulshan-e- Iqbal,
                                                <br> Block 2,Metrovill III, Karachi
                                            </u>
                                        </b>
                                    </span>
                                </td>
                                <td style="width:5%;"></td>
                            </tr>
                        </tbody>
                    </table>

                    <table>
                        <tbody>
                            <tr>

                                <img src='~/Content/assets/css/PrintMaterial/TransferOrder/Bottom-img.png' style="width:100%;" />

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn grey btn-outline-info" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-outline-dark btnUpdateChanges">Save changes</button>
            </div>
        </div>
    </div>
</div>

@*Edit Modal Start*@

@section Scripts
{
    <script type="text/x-jQuery-tmpl" id="TransferListing">
        <tr class="trTransfer">

            <input type="hidden" class="hdnTransferId" value="${TransferId}" />
            <input type="hidden" class="hdnMemberId" value="${MemberId}" />
            <input type="hidden" class="hdnPlotId" value="${PlotId}" />
            <input type="hidden" class="hdnTransferOrderNo" value="${TransferOrderNo}" />
            <input type="hidden" class="hdnTransferDate" value="${ToJavaScriptDate(TransferDate)}" />
            <input type="hidden" class="hdnMCMDate" value="${ToJavaScriptDate(MCMDate)}" />
            <input type="hidden" class="hdnNewspaperAdvDate" value="${ToJavaScriptDate(NewspaperAdvDate)}" />
            <input type="hidden" class="hdnNewspaperName" value="${NewspaperName}" />
            <input type="hidden" class="hdnNewspaperScan" value="${NewspaperScan}" />
            <input type="hidden" class="hdnIndemnityBondScan" value="${IndemnityBondScan}" />
            <input type="hidden" class="hdnTransferOrderScan" value="${TransferOrderScan}" />
            <input type="hidden" class="hdnIsTransfered" value="${IsTransfered}" />

            <td></td>
            <td class="project-title tdTransferOrderNo" nowrap>${TransferOrderNo}</td>
            <td class="project-title tdMember" nowrap>${Member}</td>
            <td class="project-title tdPlot" nowrap>${Plot}</td>
            <td class="project-title tdTransferDate" nowrap>${ToJavaScriptDate(TransferDate)}</td>



            <td class="project-title" nowrap>
                <a href="javascript:void(0)"  onclick="PrintTransferOrder()" data-toggle="tooltip" data-placement="top" data-original-title="Print Transfer Order"><i class="la la-exchange primary"></i></a> &nbsp;

                <a href="javascript:void(0)" data-toggle="modal" data-target="#EditTransfer" onclick="EditTransfer(this)" data-toggle="tooltip" data-placement="top" data-original-title="Edit Transfer"><i class="la la-pencil-square success"></i></a>
                <a href="javascript:void(0)" data-toggle="modal" data-target="#EditAttachment" onclick="EditTransfer(this)" title="Edit Attachment"><i class="ft-paperclip"></i></a>
                <a href="javascript:void(0)" data-toggle="modal" data-target="#DeleteTransfer" onclick="EditTransfer(this)" data-toggle="tooltip" data-placement="top" data-original-title="Delete Transfer"><i class="la la-trash danger"></i></a>

            </td>


        </tr>
    </script>

    <script src="~/Scripts/assets/js/PagesJS/Transfer.js"></script>

}








